body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(34, 78%, 93%);
}

header {
  height: 34px;
  padding: 15px;
  border-bottom: 1px rgba(73, 73, 73, 0.1) solid;
}
nav {
  width: 50%;
  margin-left: 45%;
  display: flex;
  justify-content: space-between;
}
.contacthead a:link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: white;
  width: fit-content;
  padding: 8px 15px;
  background-color: rgb(10, 10, 10);
  border-radius: 30px;
}

.contacthead a:hover {
  background-color: rgb(100, 100, 100);
}

.contacthead a:visited {
  color: white;
}

.current {
  background-color: rgb(100, 100, 100);
  color: white;
}
.contactmain {
  box-sizing: border-box;
  height: 544px;
  color: rgb(48, 47, 47);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contactcontainer {
  border: none;
  width: 494px;
  height: 425px;
  margin: 22px auto 0px;
  box-shadow: 0px 0px 5px 0px rgb(73, 73, 73);
  border-radius: 40px;
  padding-top: 10px;
  background-image: linear-gradient(
    to bottom right,
    bisque,
    white,
    bisque,
    white,
    bisque
  );
}
.contacttable {
  width: 94%;
  height: 300px;
  margin: 10px auto 30px;
}
.contactlabel {
  text-align: right;
  padding-right: 10px;
}
.feed {
  text-align: left;
  padding-left: 46px;
  padding-top: 10px;
}
.msg {
  text-align: right;
  padding-right: 5px;
}
textarea,
.contactinput {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px rgb(73, 73, 73);
  font-size: 1em;
  font-family: Calibri;
  padding: 0.8em;
}
.contactinput {
  margin: 10px auto;
  width: 305px;
}
.contactinput:hover,
textarea:hover {
  background-color: rgba(204, 237, 248, 0.2);
}
.contactinput:focus,
textarea:focus {
  background-color: bisque;
  box-shadow: 0px 0px 5px 0px rgb(73, 73, 73);
}
header:hover,
footer:hover {
  background-color: bisque;
}
.btn {
  color: white;
  width: fit-content;
  padding: 8px 15px;
  margin-right: 20px;
  background-color: rgb(100, 100, 100);
  border-radius: 30px;
  font-size: 1em;
  border: none;
  float: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(10, 10, 10);
}

.contactinfo{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  border: none;
  padding: 12px 0px;
  font-size: 2.5em;
  width: 28%;
  height: 70px;
  margin-top: 25px;
  background-color: rgb(68, 68, 68);
  color: white;
}

.contact a:link,
.contact a:visited {
  color: white;
}
.contact a:hover {
  color: bisque;
}
footer {
  height: 31px;
  text-align: center;
  font-size: 12px;
  border-top: 1px rgba(73, 73, 73, 0.1) solid;
}
